
<h1 class="text-center">Recreate <%= @robot.name%></h1>
<div class="pull-right">
  <img src="<%= @robot.avatar %>">
</div>
<form class ="form-horizontal" role="form">
  <form action="/robots/<%= @robot.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <input id="name" type="text" name="robot[name]" value="<%= @robot.name %>"><br>

    <label for="city">City:</label><br>
    <input id="city" type="text" name="robot[city]" value="<%= @robot.city %>"><br>

  <label for="state">State:</label><br>
  <input id="state" type="text" name="robot[state]" value="<%= @robot.state %>"><br>

  <label for="avatar">Avatar:</label><br>
  <input id="avatar" type="text" name="robot[avatar]"  value="<%= @robot.avatar %>"><br>

  <label for="birthdate">Birthday:</label><br>
  <input id="birthdate" type="date" name="robot[birthdate]" value="<%= @robot.birthdate%>"><br>

  <label for="date-hired">Date Hired:</label><br>
  <input id="date-hired" type="date" name="robot[date_hired]" value="<%= @robot.date_hired %>"><br>

  <label for="department">Department:</label><br>
  <input id="department" type="text" name="robot[department]"  value="<%= @robot.department %>"><br>
  <br>
  <br>
  <input type="submit" class="btn btn-warning btn-md" value="Recreate Your Robot">
</form>
</form>

