
<% @robots.each do |robot| %>
  <h3>(<%= robot.id %>) <a href="/robots/<%=robot.id %>"><%=robot.name %></a></h3>
  <a href="/robots/<%= robot.id %>/edit">Recreate</a>

  <form action="/robots/<%= robot.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="JunkYard"/>
  </form>
<% end %>

<a href="/" class="btn btn-primary btn-lg">Back to SkyNet</a>
