<h1><%= @robot.name %></h1>
<a href="/robots/<%= @robot.id %>/edit">Edit Robot</a>
<form action="/robots/<%= @robot.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Robot">
</form>

<img src="https://robohash.org/<%= @robot.avatar %>" alt="<%= @robot.name %>">

<h2>From:</h2>
<p><%= @robot.city %>, <%= @robot.state %></p>

<h2>Born:</h2>
<p><%= @robot.birthday %></p>

<h2>Hired:</h2>
<p><%= @robot.date_hired %></p>

<h2>Department:</h2>
<p><%= @robot.department %></p>
